body{
    background-color: #F7E8C3;
}
#wrapper{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 200px 0;
    height: 1000px;
    width: 980px;
}
#wrapper-second{
    border-radius: 5px;
    border: 1px solid white;
    background-color: #ffffff;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    width: 700px;
}
#title-list{
    background-color: #FFC03C;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    padding: 25px 20px;
    bottom: 670px;
    left: 780px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
ul li{
    margin: 20px 0;
    list-style: none;
}
.form-items{
    margin-top: 100px;
}
.label-add{
    margin-left: 60px;
}
.input-add{
    margin-left: 10px;
    margin-bottom: 30px;
    width: 425px;
    height: 25px;
    font-size: 20px;
}
.input-submit{
    border: none;
    border-radius: 5px;
    background-color: #3AE5C5;
    padding: 7px 8px;
    position: absolute;
    top: 161px;
    right: 250px;
}
.input-submit:hover{
    background-color: #C025B6;
    color: #ffffff;
}
.btn-delte-all{
    border-radius: 5px;
    float: right;
    margin-right: 73px;
    background-color: #C025B6;
    color: #ffffff;
    border: none;
    padding: 7px 8px;
}
.btn-delte-all:hover{
    background-color: #3AE5C5;
    color: #000000;
}
.label-category{
    margin-left: 60px;
    margin-right: 10px;
}
.select-category{
    padding: 5px 8px;
    width: 150px;
}
.checkbox{
    width: 20px;
    height: 20px;
}

.category-img{
    margin: 0 20px;
}
.edit-img{
    padding: 0;
    margin-top: 10px;
    border: none;
    float: right;
    margin-right: 140px;
    background-color: transparent;
    background-image: url(../img/edit.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
.delete-img{
    padding: 0;
    margin-top: -25px;
    border: none;
    float: right;
    margin-right: 249px;
    margin-left: 0px;
    background-color: transparent;
    background-image: url(../img/trashCan1.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.hours{
    float: right;
    margin: 0px;
    padding-right: 75px;
    margin-top: 12px;
}
.checkbox{
    margin-right: 10px;
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    color: #999;
}
